<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-9" style="padding-top: 30px">
            <div class="panel panel-default">
                <div class="panel-heading">AR产品/产品详情</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <form role="form">
                                <div class="form-group">
                                    <button class="btn btn-default" data-ng-click="submitProductInfo()">新增/修改</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <form role="form">
                                <div class="form-group">
                                    <label>产品名：</label>
                                    <input class="form-control" placeholder="输入产品名..." ng-model="productInfo.name" required>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4">
                            <form role="form">
                                <div class="form-group">
                                    <label>价格：</label>
                                    <input class="form-control" placeholder="输入价格..." ng-model="productInfo.price" required>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4">
                            <form role="form">
                                <div class="form-group">
                                    <label>评分：</label>
                                    <input class="form-control" placeholder="输入评分..." ng-model="productInfo.score" required>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <form role="form">
                                <div class="form-group">
                                    <label>产品介质形式：</label>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="mediaTypeElectricBook" ng-model="mediaTypeElectricBook">电子书&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                        <label><input type="checkbox" id="mediaTypeBook" ng-model="mediaTypeBook">书籍&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                        <label><input type="checkbox" id="mediaTypeCard" ng-model="mediaTypeCard">卡牌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                        <label><input type="checkbox" id="mediaTypeTeachTool" ng-model="mediaTypeTeachTool">教具&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                        <label><input type="checkbox" id="mediaTypeIntelligentToy" ng-model="mediaTypeIntelligentToy">益智玩具&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                        <label><input type="checkbox" id="mediaType" ng-model="mediaTypeOther">其它</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4">
                            <form role="form">
                                <div class="form-group">
                                    <label>适合年龄:</label>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="matchAgeThree" ng-model="matchAgeThree">3岁&nbsp;&nbsp;</label>
                                        <label><input type="checkbox" id="matchAgeFour" ng-model="matchAgeFour">4岁&nbsp;&nbsp;</label>
                                        <label><input type="checkbox" id="matchAgeFive" ng-model="matchAgeFive">5岁&nbsp;&nbsp;</label>
                                        <label><input type="checkbox" id="matchAgeSix" ng-model="matchAgeSix">6岁&nbsp;&nbsp;</label>
                                        <label><input type="checkbox" id="matchAgeSeven" ng-model="matchAgeSeven">7岁</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <form role="form">
                                <div class="form-group">
                                    <label for="levelOneCategory">一级分类:</label>
                                    <select class="form-control" id="levelOneCategory" ng-model="levelOneCategory" ng-options="option as option.categoryName for option in levelOneCategoryItems track by option.id" ng-change="changeLevelOneCategory()">
                                        <option></option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4">
                            <form role="form">
                                <div class="form-group">
                                    <label for="levelTwoCategory">二级分类:</label>
                                    <select class="form-control" id="levelTwoCategory" ng-model="levelTwoCategory" ng-options="option as option.categoryName for option in levelTwoCategoryItems track by option.id" required>
                                        <option></option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form">
                                <div class="form-group">
                                    <label>分类标签*</label>
                                    <input class="form-control" placeholder="输入分类标签..." ng-model="productInfo.productCategoryTag">
                                    <label class="help-block">多个标签使用分号间隔，例如：AR;玩具</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form">
                                <div class="form-group">
                                    <label>产品描述：</label>
                                    <textarea contenteditable="true" class="form-control" rows="3" ng-model="productInfo.productDesc"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">产品封面图(建议360*360)</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form role="form">
                                                <div class="form-group">
                                                    <img src="img/view.jpg" class="img-rounded" style="max-width: 200px; height: auto">
                                                    <input type="file">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">产品截图(建议1280 x*1024，最多3张)</div>
                                <div class="panel-body">
                                    <div class="col-lg-4">
                                        <form role="form">
                                            <div class="form-group">
                                                <img src="img/view.jpg" class="img-rounded" style="max-width: 200px; height: auto">
                                                <input type="file" id="screenshot1">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-4">
                                        <form role="form">
                                            <div class="form-group">
                                                <img src="img/view.jpg" class="img-rounded" style="max-width: 200px; height: auto">
                                                <input type="file" id="screenshot2">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-4">
                                        <form role="form">
                                            <div class="form-group">
                                                <img src="" class="img-rounded" style="max-width: 200px; height: auto">
                                                <input type="file" id="screenshot3">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">手机端产品微店二维码(建议360*360)</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form role="form">
                                                <div class="form-group">
                                                    <img src="img/view.jpg" class="img-rounded" style="max-width: 200px; height: auto">
                                                    <input type="file">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <form role="form">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label><input type="checkbox" ng-model="productInfo.productPlayEnabled">启用演示视频：</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3">
                            <form role="form">
                                <div class="form-group">
                                    <input type="text" ng-model="productInfo.productPlayAddr" required>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <form role="form">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label><input type="checkbox" ng-model="productInfo.productTrialEnabled">启用试用体验：</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-9">
                            <form role="form">
                                <div class="form-group">
                                    <img src="img/view.jpg" class="img-rounded" style="max-height: 60px; width: auto">
                                    <button type="button" class="btn btn-primary">选择</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label><input type="checkbox" ng-model="productInfo.productAppEnabled">启用视端APP：</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label>版本号：</label>
                                                    <input class="form-control" ng-model="productInfo.productVersion" placeholder="输入版本号..." required>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-4">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label>apk版本：</label>
                                                    <input class="form-control" ng-model="productInfo.productApkVersion" placeholder="输入apk版本号...">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label>视端产品微店二维码（建议360*360）：</label>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-4">
                                            <form role="form">
                                                <div class="form-group">
                                                    <img src="img/view.jpg" class="img-rounded" style="max-width: 200px; height: auto">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-4">
                                            <form role="form">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-primary">选择</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>